.header{
  background-image: linear-gradient(to right bottom, rgba($primary-color, 0.8), rgb($secondary-color, 0.9)),url(../../Images/homebk.jpg);
  height: 95vh;
  background-size: cover;
  background-position: top;
}