.listings {
  position: relative;
  display: flex;
  box-sizing: border-box;

  &__content {
    flex: 1;
  }

  &__map {
    flex: 1;
  }
}

// .listing__map{
// width: 30rem;
// }

.listing {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: $color-grey-light;
  margin-bottom: 5rem;
  border-radius: 3rem;
  box-shadow: 0px 0 1rem .15rem rgba($color-black, 0.15);

  &__image {
      width: 40rem;
      border-bottom-left-radius: 3rem;
      border-top-left-radius: 3rem;
      object-fit: cover;
  }

  &__detail{
    margin-left: 2rem;
  }
}

.listing__header {
  background-color: rgba($color-black, 0.9);
}
