.navbar{
  height: 5rem;
  // background-color: $primary-color;
  // width: 100%;
  padding: 1rem;
  display: flex;


  &__links{
    // display: flex;
    // flex-wrap: wrap;

    &-text{
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 500;
    }
  }
  
   .logo{
      color: white;
      font-weight: 900;
      font-size: 3rem;
      margin-left: 0%;
    }

}