body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d1e8e2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#top-grid {
  padding-bottom: 3%;
}

#middle-segment {
  padding-top: 3%;
}

#h1-header {
  font-size: 1000%;
  text-align: center;
}

#read-more {
  margin-top: 2%;
  margin-left: 42%;
}

#burger-icon {
  background-color: white;
}

#botton-segment {
  padding-bottom: 3%;
}
